# Define a function that applies fibonacchi using recursion

## Example
Input: 10

Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
def fib(n) :
    if n == 0 :
      return 0
    if n == 1 :
       return 1
    return fib(n-1)+ fib(n-2)
def fib_series(num):
   result=[]
   for i in range(num):
      result.append(fib(i))
   return result

In [2]:
fib_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Write a Python program to remove an item from a given set

## Example
my_set: {1, 2, 3, 4, 5}

Output: {1, 2, 4, 5}

In [7]:
my_set={1,2,3,4,5}
def remove_item(item) :
    my_set.remove(item)
    return my_set

In [8]:
remove_item(3)

{1, 2, 4, 5}

# Write a Python program to removes multiple items from a given set

## Example
my_set: {1, 2, 3, 4, 5}

items to be removed: {1, 4}

Output: {2, 3, 5}

In [9]:
my_set_2={1,2,3,4,5}
def remove_items(item1,item2) :
    my_set_2.remove(item1)
    my_set_2.remove(item2)
    return my_set_2

In [10]:
remove_items(1,4)

{2, 3, 5}

# Write a Python program to find the index of an item in a tuple.

## Example
my_tuple: ('apple', 'banana', 'orange', 'grape', 'banana')

index of 'orange' is: 2

In [12]:
my_tuple = ('apple','banana','orange','grape','banana')
def get_index(item) :
    index_i = my_tuple.index(item)
    return f"idex of {item} is : {index_i}"

In [13]:
get_index('orange')

'idex of orange is : 2'

# Ask user to input a sentence then convert this sentence into list of words. (hint: search for split function)

## Example
Input: "Welcome to Amit"

Output: ['Welcome', 'to', 'Amit']

In [14]:
sentence = input("input a sentence .")
def sentence_to_words(sentence) :
    words = sentence.split()
    return words

In [15]:
sentence_to_words("Welcome to Amit")

['Welcome', 'to', 'Amit']

# Take a string from the user and if it's Palindrome print "Palindrome" otherwise print "Not a Palindrome"

A string is Palindrome if it's read the same from the left and right

## Example
Input: racecar

Output: Palindrome

In [33]:
word = input("input string")
word_2 = word[-1::-1]
def is_palindrome(word) :
    if word == word_2 :
        return "palindrome"
    else :
        return "Not a palindrome"

In [34]:
is_palindrome("racecar")

'palindrome'

# find the factorial of a number 
## Example
(factorial of 5) = 5 * 4 * 3 * 2 * 1 = 120

In [35]:
def fact(num) :
    if num == 0 :
        return 1
    elif num == 1 :
        return 1
    else:
        return num*fact(num-1)

In [36]:
fact(5)

120

# Create a List of Squares of Numbers from 1 to 10
## Example
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def square_nums(num) :
    return num*num

def square_series(num) :
    result =[]
    for i in range(num) :
        result.append(square_nums(i))
    return result

In [44]:
square_series(11)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Another Solution**

In [9]:
# Write your answer here

# Create a function that Calculates the Sum of Even Numbers in a List
## Example
numbers: [1, 2, 3, 4, 5, 6]

Output: 12

In [52]:
def sum_even(nums) :
    total=0
    for n in nums :
        if n%2 ==0 :
            total += n
    return total

In [53]:
numbers = [1,2,3,4,5,6]
sum_even(numbers)

12

# Create a function that takes a list as input and return reversed list

## Example
lst: [1, 2, 3]

Output: [3, 2, 1]

In [57]:
lst = input("input a list")
def reverse_list(lst) :
    return lst[-1::-1]

In [58]:
reverse_list([1,2,3])

[3, 2, 1]

# create a function that calculates the median of a list of numbers (a median is the middle element in sorted list of numbers)

## Example
numbers: [5, 2, 7, 3, 1]

Output: 3

In [59]:
list = [5,2,7,3,1]
def calc_median(list) :
    list.sort()
    return list[2]

In [60]:
calc_median(list)

3

In [64]:
#Another solution 
import statistics

In [65]:
def calc_median(list) :
    list.sort()
    return statistics.median(list)

In [66]:
calc_median(list)

3

# create a function that calculates the mode of a list of number (mode is the most frequent element in a list)

## Example
lst: [5, 2, 7, 3, 2, 1, 5]

Output: 5

In [61]:
import statistics

In [62]:
def calc_mode(list_2) :
    return statistics.mode(list_2)

In [63]:
list_2 = [5,2,7,3,2,1,5]
calc_mode(list_2)

5

# Task: take the mark from the user and convert it to grade according to the following guidelines
1. 85-100 A
2. 75-85 B
3. 65-75 C
4. 50-65 D
5. <50 F

In [ ]:
def get_grade(mark) :
    if mark > 100 or mark < 0 :
        return "mark must be between 0 & 100 "
    elif mark >= 85 and mark <= 100 :
        return "A"
    elif mark >= 75 and mark < 85 :
        return "B"
    elif mark >= 65 and mark < 75 :
        return "C"
    elif mark >= 50 and mark < 65 :
        return "D"
    else:
        return "F"

In [69]:
mark = int (input("input your mark (0 : 100)"))
get_grade(mark)

'C'